<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development</key>
	<dict>
		<key>APIEndpointURL</key>
		<string>dev.example.com</string>
		<key>loggingLevel</key>
		<string>Dev</string>
	</dict>
	<key>Staging</key>
	<dict>
		<key>APIEndpointURL</key>
		<string>sta.example.com</string>
		<key>loggingLevel</key>
		<string>Sta</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>APIEndpointURL</key>
		<string>example.com</string>
		<key>loggingLevel</key>
		<string>Prod</string>
	</dict>
</dict>
</plist>
